
*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
#mainScreen{
    width: 400px;
    height: 720px;
    border: 1px solid black;
    float: left;
    margin: 20px 10px 0 240px;
}
#subScreen{
    float: left;
    width: 350px;
    height: 700px;
    margin: 20px 0 0 0;

}
#nextScreen{
    width: 210px;
    height: 210px;
    border: 1px solid black;
    position: relative;
}

#infoScreen{
    margin-top: 20px;
    width: 210px;
    height: 490px;
    border: 1px solid black;
}
#txt_score{
    width: 100px;
    border: 0px solid;
    
}
#txt_level{
    width: 100px;
    border: 0px solid;
   
}
#btn_start{
    width: 50%;
    margin-left: 25%;

}
#btn_stop{
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}
#lbTitle{
    margin-top: 40%;
    margin-bottom: 40%;
    width: 100%;
    font-size: 30px;
    text-align: center;
}
#lbScore{
    margin-left: 10px;
    font-size: 20px;
}
#lbLevel{
    margin-left: 10px;
    font-size: 20px;
}
#dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
#dialog{
    position: absolute;
    top:40%;
    left: 40%;
    text-align: center;
    font-size: 35px;
    width: 250px;
    height: 130px;
    border: 1px solid gray;
    border-radius: 15px;
    padding-top: 10px;
}
#dialog button{
    font-size: 22px; 
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
}


  