
*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
#mainScreen{
    width: 400px;
    height: 720px;
    border: 1px solid black;
    float: left;
    margin: 20px 10px 0 90px;
}
#subScreen{
    float: left;
    width: 350px;
    height: 700px;
    margin: 20px 0 0 0;

}
#nextScreen{
    width: 210px;
    height: 210px;
    border: 1px solid black;
    position: relative;
}

#infoScreen{
    margin-top: 10px;
    width: 210px;
    height: 490px;
    border: 1px solid black;
}